<%- include ("header.ejs") %> 

<body>
    <div class="title">
        <h1>Main Page</h1>
    </div>

    <% if (usr1) { %>
        <p> 
            <%=usr1 %> 
        </p>
    <% }  %>
</body>

<%- include ("footer.ejs") %>