<%- include ("header.ejs") %> 

<body>
    <div class="title">

        <% if (message) { %>
            <p class="alert"><%=message%></p>
        <% } %>
        
    </div>
    <form class="login-form" action="/login" method="post">
        <h2 class="title">Login</h2>
        <label for="user">Username</label>
        <input class="login-input" type="text" name="user" placeholder="Insert your username here" autocomplete="off" required autofocus>
        <label for="password">Password</label>
        <input class="login-input" type="password" name="pass" placeholder="Password here" autocomplete="off" required>
        <input class="btn" type="submit" value="Login">
    </form>
</body>
<%- include ("footer.ejs") %>