<%- include ("header.ejs") %>

<body>
    <h1>New Post</h1>
    <div id="newpost-box">
        <form action="/newpost" method="post">
            <label for="title">Title:</label>
            <input type="text" required autocomplete="off" autofocus name="title" placeholder="Title here">
            <label for="textpost" >Post: </label>
            <textarea name="textpost" rows="5" cols="50" autocomplete="off" required placeholder="Write your post here..."></textarea>
            <input type="submit" value="Post!">
        </form>
    </div>
    </body>

    
</body>

<%- include ("footer.ejs") %>