<%- include ("header.ejs") %> 

<body>
    <div class="title">
        
            <% if (message) { %>
                <p class="alert"><%=message%></p>
            <% } %>
    </div>
    
    <div class="login-box">
        
        <form class="login-form" action="/register" method="post">
            <h1 class="title">Register</h1>
            <label for="name">Name:</label>
            <input class="login-input" type="text" name="name" required autocomplete="off" autofocus placeholder="Insert your name here">
            <label for="user">Create a username:</label>
            <input class="login-input" type="text" name="user" required autocomplete="off" placeholder="Insert username here">
            <label for="email">Email:</label>
            <input class="login-input" type="email" name="email" required autocomplete="off" placeholder="Insert your email here">
            <label for="pass">Create a password:</label>
            <input class="login-input" type="password" name="pass" required autocomplete="off" placeholder="Create a password here">
            
            <input class="btn-submit" type="submit" value="Register">
        </form>
    </div>
    
    
</body>


<%- include ("footer.ejs") %>