* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, serif;
    margin: 0;
    background-color: white;
}

.title {
    text-align: center;
    margin: 20px
}

.navbar-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    margin: 10px;
}

.navbar-ul li {
    margin: 0px 15px;
    list-style: none;
}

.login-box {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.login-form {
    max-width: 380px;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 3px #888;
}

.login-input {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1em;
    width: 100%;
}

.login-input:user-invalid {
    border: 2px solid red;
  }

.btn-submit {
    padding: 15px 10px;
    border: none;
    font-size: 1.2em;
    display: block;
    width: 100%;
    margin-top:10px;
  }

.alert {
    margin: 10px;
    word-wrap: break-word;
}

.post-form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: grid;
}

.post-input {
    padding: 5px;
    margin: 5px 0px 20px;
}

.btn-post {
    padding: 10px 20px;
}
