* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, serif;
    margin: 0;
    background-color: white;
}

.title {
    text-align: left;
    color: #808080;
    margin: 0px;
}

.title::before {
    content: ">>";
}

.navbar {
    padding: 0px;
}

.navbar-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
}

.navbar-ul li {
    margin: 0px 15px;
    list-style: none;
}

a {
    text-decoration: underline 2px #888;
    color: black;
}

a:hover {
    text-decoration: underline 2px #000;
}

a:visted {
    color: #888;
}

.login-box {
    margin-top: 20px;
}

.login-form {
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 3px #888;
    display: grid;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 40px;
}

.login-input {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 1em;
}

.login-input:user-invalid {
    border: 2px solid red;
}

.btn-submit {
    padding: 15px 10px;
    border: none;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.alert {
    margin: 10px;
    word-wrap: break-word;
    text-align: center;
}

.post-form {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    padding: 10px;
}

.post-input {
    padding: 10px;
    font-size: 1em;
    margin: 5px 0px 20px;
    font-family: sans-serif;
    border: 1px solid grey;
    border-radius: 4px;
}

.btn-post {
    padding: 10px;
    font-size: 1em;
}

.btn {
    padding: 10px;
    font-size: 1em;
}

.date-recent-post {
    font-size: small;
    color: grey;
    text-align: center;
}

.title-recent-post {
    text-align: center;
}

.author-post {
    font-style: italic;
    text-align: center;
}

.recent-posts {
    display: block;
    margin: 0px auto;
    padding: 20px;
    max-width: 1220px;
    line-height: 1.6;
    font-size: 1.25em;
}

.my-posts-box {
    display: block;
    margin: 40px auto;
    max-width: 1000px;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 1px;
    border-radius: 4px;
}

.del-post-box {
    max-width: 780px;
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    justify-content: center;
}

.hidden {
    visibility: hidden;
    position: absolute;
}
